[Unit]
Description=Highly customizable Wayland bar for Sway and Wlroots based compositors
Documentation=man:waybar(5)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/waybar

[Install]
WantedBy=sway-session.target
