[submodule "homedir/.config/nvim/pack/codegen/start/copilot.vim"]
	path = homedir/.config/nvim/pack/codegen/start/copilot.vim
	url = https://github.com/github/copilot.vim.git
[submodule "homedir/.config/nvim/pack/syntax/start/gentoo-syntax"]
	path = homedir/.config/nvim/pack/syntax/start/gentoo-syntax
	url = https://github.com/gentoo/gentoo-syntax.git
[submodule "homedir/.config/nvim/pack/syntax/start/vim-jsonc"]
	path = homedir/.config/nvim/pack/syntax/start/vim-jsonc
	url = https://github.com/kevinoid/vim-jsonc.git
[submodule "homedir/.config/nvim/pack/lsp/start/nvim-lspconfig"]
	path = homedir/.config/nvim/pack/lsp/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "homedir/.config/nvim/pack/utils/start/nvim-lsp-installer"]
	path = homedir/.config/nvim/pack/utils/start/nvim-lsp-installer
	url = https://github.com/williamboman/nvim-lsp-installer.git
[submodule "homedir/.config/nvim/pack/lsp/start/nvim-cmp"]
	path = homedir/.config/nvim/pack/lsp/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "homedir/.config/nvim/pack/utils/start/cmp-nvim-lsp"]
	path = homedir/.config/nvim/pack/utils/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "homedir/.config/nvim/pack/colorscheme/start/gruvbox"]
	path = homedir/.config/nvim/pack/colorscheme/start/gruvbox
	url = https://github.com/gruvbox-community/gruvbox.git
[submodule "homedir/.config/nvim/pack/lsp/start/null-ls.nvim"]
	path = homedir/.config/nvim/pack/lsp/start/null-ls.nvim
	url = https://github.com/jose-elias-alvarez/null-ls.nvim.git
[submodule "homedir/.config/nvim/pack/utils/start/plenary.nvim"]
	path = homedir/.config/nvim/pack/utils/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "homedir/.config/nvim/pack/snippets/start/LuaSnip"]
	path = homedir/.config/nvim/pack/snippets/start/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip.git
[submodule "homedir/.config/nvim/pack/syntax/start/nvim-treesitter"]
	path = homedir/.config/nvim/pack/syntax/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
