[user]
	email = amit.prakash.ambasta@gmail.com
	name = Amit Prakash Ambasta
	signingkey = F4ED5371C992A1D4C487C307F0B27A3B6D7CF774
[commit]
	gpgSign = true
	template = ~/.gitmessage
[core]
	autocrlf = input
	editor = vim
[pull]
	rebase = false
[color]
	ui = auto
[init]
	defaultBranch = main
[gpg]
	program = gpg2
[format]
	signoff = true
[rerere]
	enabled = true
[fetch]
	prune = true
